[Unit]
Description=Run AudioCinema automation periodically

[Timer]
OnCalendar=Mon..Fri *-*-* 08:00:00
Persistent=true
Unit=audiocinema.service

[Install]
WantedBy=timers.target
